<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRI-CA</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script defer src="../static/script.js"></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <h1 class="logo">TRI-CA</h1>
            <h2>Trials with Conversational Agents</h2>
            <p>A flexible web-based research platform for designing and running digital experiments with AI.</p>
        </header>
        <nav class="nav">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./reserchers_guide.html">Resercher's Guide</a></li>
                <li><a href="./dev_guide.html">Developer's Guide</a></li>
                <li><a href="./download.html">Download</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <aside class="aside"></aside>
        <main class="main">
            <div class="contact_card">
                <h2>Naama Ilany-Tzur</h2>
                <p>Details...</p>
            </div>
            <div class="contact_card">
                <H2>Guy Ilany</H2>
                <p>Details...</p>
            </div>
            <div class="contact_card">
                <h2>David Gefen</h2>
                <p>Details...</p>
            </div>
            <div class="contact_card">
                <h2>René Riedl</h2>
                <p>Details...</p>
            </div>
        </main>
        <section class="section">
        </section>
        <footer class="footer">
            <p id="copy_footer"></p>
        </footer>
    </div>
</body>

</html>