<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRI-CA</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script defer src="../static/script.js"></script>
</head>

<body>
    <div class="container">
        <header class="header">
            <h1 class="logo">TRI-CA</h1>
            <h2>Trials with Conversational Agents</h2>
            <!-- <p>A flexible web-based research platform for designing and running digital experiments with AI.</p> -->
            <p>Naama Ilany-Tzur, Guy Ilany, David Gefen & René Riedl</p>
        </header>
        <nav class="nav">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./reserchers_guide.html">Resercher's Guide</a></li>
                <li><a href="./dev_guide.html">Developer's Guide</a></li>
                <li><a href="./download.html">Download</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
            </ul>
        </nav>
        <main class="main">
            <h2>Step-by-Step Developer's Guide</h2>
            <iframe src="../my_output.html" frameborder="0" width="1000" height="800"></iframe>



            <h2 id="10">Download Researcher's Guide pdf</h2>
            <div>
                <p id="downloadGuide"><a href="">Download PDF guide</a></p>
            </div>
        </main>
        <section class="section">
        </section>
        <footer class="footer">
            <span id="copy_footer" class="TRI-CA"></span>
        </footer>
    </div>
</body>

</html>
